

@{
    ViewData["Title"] = "Home Page";
}



<div class="bg-yellow py-5 border-bottom-dark">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <h1 class="display-3">
                    Welcome to <br> My Blog
                </h1>
                <p>
                    In this blog, I aim to share my views and evaluations on some of the topics that I am interested in.
                    <a href="/Home/About" class="text-dark"><br /> <u>Learn more about me.</u></a>
                </p>

            </div>

            <div class="col-7">
                <img src="https://picsum.photos/300/300" alt="" class="rounded-circle float-right">
            </div>
        </div>
    </div>
</div>

@*<div class="row mt-5">
    <section class="col-sm-8">
        <article class="row">
            <div class="col-8">
                <img class="rounded-circle" src="https://picsum.photos/id/20/25/25" alt="">
                <span class="small ml-1">
                    Will Leitch
                    <small class="text-muted">in</small>
                    Inside the White Sox
                </span>

                <h6 class="mt-2">
                    <strong>Confessions of a Pandemic Risk-taker</strong>
                </h6>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum nobis quidem unde optio ullam architecto?
                </p>
            </div>
            <div class="col-4">
                <img src="https://picsum.photos/id/27/400/200" alt="" class="w-100">
            </div>
            <ul class="list-inline small">
                <li class="list-inline-item">Dec 1</li>
                <li class="list-inline-item">23 min read</li>
                <li class="list-inline-item"> <i class="far fa-star"></i> </li>
            </ul>
        </article>
        <article class="row">
            <div class="col-8">
                <img class="rounded-circle" src="https://picsum.photos/id/21/24/24" alt="">
                <span class="small ml-1">
                    Will Leitch
                    <small class="text-muted">in</small>
                    Inside the White Sox
                </span>

                <h6 class="mt-2">
                    <strong>Confessions of a Pandemic Risk-taker</strong>
                </h6>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum nobis quidem unde optio ullam architecto?
                </p>
            </div>
            <div class="col-4">
                <img src="https://picsum.photos/id/28/400/200" alt="" class="w-100">
            </div>
            <ul class="list-inline small">
                <li class="list-inline-item">Dec 1</li>
                <li class="list-inline-item">36 min read</li>
                <li class="list-inline-item"> <i class="far fa-star"></i> </li>
            </ul>
        </article>
    </section>


    <aside class="col-sm-4">
        <strong><h6>DISCOVER MORE OF WHAT MATTERS TO YOU</h6></strong>
        <ul class="list-inline aside-buttons">
            <li class="list-inline-item">
                <a href="" class="btn btn-outline-secondary">Self</a>
            </li>
            <li class="list-inline-item">
                <a href="" class="btn btn-outline-secondary">Relationships</a>
            </li>
            <li class="list-inline-item">
                <a href="" class="btn btn-outline-secondary">Data Science</a>
            </li>
            <li class="list-inline-item">
                <a href="" class="btn btn-outline-secondary">Programming</a>
            </li>
            <li class="list-inline-item">
                <a href="" class="btn btn-outline-secondary">Productivity</a>
            </li>
            <li class="list-inline-item">
                <a href="" class="btn btn-outline-secondary">Javascript</a>
            </li>
            <li class="list-inline-item">
                <a href="" class="btn btn-outline-secondary">Machine Learning</a>
            </li>
            <li class="list-inline-item">
                <a href="" class="btn btn-outline-secondary">Politics</a>
            </li>
            <li class="list-inline-item">
                <a href="" class="btn btn-outline-secondary">Health</a>
            </li>

        </ul>

    </aside>
</div>*@

