

@{
    ViewData["Title"] = "Home Page";
}




    <div class="container" style="margin-top:6%;background-color:lightyellow">
        <div class="row">
            <div class="col-5">
                <h1 class="display-3" style="font-family:'Arial Rounded MT'">
                    Welcome to <br> My Blog!
                </h1>
                <br />
                <p style="font-family:Arial">
                    In this blog, I aim to share my views and evaluations on some of the topics that I am interested in.
                    <a href="/Home/About" class="text-danger"><br /> <u>Learn more about me.</u></a>
                </p>

            </div>

            <div class="col-7">
                <img src="https://picsum.photos/id/2/300/300" alt="" class=" float-right">
            </div>
        </div>
    </div>

